{% load staticfiles %}

<head>
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<meta http-equiv="Content-Type" content="text/html"; charset="windows-1252" />
	<link rel = "stylesheet" type="text/css" href="{% static "css/style.css" %}" />
	<title>Just In Thyme</title>
	<!--<script type="text/javascript" src=jquery-1.7.1.min.js></script>-->
</head>

<body>

<div class="poptrox-popup" style="background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 20px; display: none; position: fixed; z-index: 101; width: 200px; height: 100px; left: 668.5px; top: 161.5px; margin-left: -120px; margin-top: -70px;"></div>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a>Just In Thyme</a></h1>
			</div>
		</div>

		<div id="menu">
			<u1>
				<li ><a href="http://127.0.0.1:8000/site/">Home</a></li>
				<li><a>Recipes</a></li>
				<li><a href="http://web.engr.illinois.edu/~justinthyme/testsite/AboutUs.php">About Us</a></li>
				<li><a href="http://web.engr.illinois.edu/~justinthyme/testsite/ContactUs.php">Contact Us</a></li>
			</u1>
		</div>
	</div>

	<div id="wrapper">
		<div id="page">
			<div id="box1">
				<p>This is a test<br><br><br>
				I put stuff here.</p>
			</div>
		</div>
	</div>



	<div id="footer">
		<p><a>Copyright (c) Just In Thyme. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a></a></p>
	</div>


</body>