#results{
    background-color:#FFCC66;
    height:400px;
    width:600px;
    margin:10px 0px;
    overflow:scroll;
}
#results_ingredients{
    background-color:#FFCC66;
    height:400px;
    width:600px;
    margin:10px 0px;
    overflow:scroll;
}

img{
    height:30px;
    width:30px;
}
span{
    height:30px;
    margin:0px 5px;
}
table{
    table-layout:fixed;
}
.result{
    height:40px;
    border-style:solid solid none solid;
    border-width:5px;
}
.name{
    width:500px;
}
.cook_time{
    width:100px;
    text-align:right;
}

#insert{
    margin-top:30px;
}
